* {
    margin: 0px;
}

html {
    height: 5000px;
}

:root {
    --heading-font: "Montserrat", sans-serif;
}

header {
    height: 125px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    /* background-color: black; */
    background-image: linear-gradient(to bottom, black, transparent);
}

header>:first-child {
    display: flex;
    align-items: center;
    width: 100px;
}

header>:first-child>a>img {
    height: 75px;
    margin-left: 25px;
}

header>:nth-child(2) {
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: calc(100% - 75px);
    margin-right: 20px;
}

header>:nth-child(2)>ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    width: 100%;
    font-family: var(--heading-font);
}

header>:nth-child(2)>ul>li {
    font-weight: 500;
}

.hero-container {
    height: 500px;
    width: 100%;
    background-color: brown;
}

.navigation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s ease-in-out;
}

.navigation:hover::after {
    transform: scaleX(1);
}

.navigation {
    text-decoration: none;
    color: inherit;
    position: relative;
}

#current-movies-container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.current-movie {
    border-style: solid;
    border-radius: 25px;
    padding: 1rem;
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-movie>img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 1.2rem;
}

.current-movie>:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.current-movie>:nth-child(3) {
    border-style: solid;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: red;
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
    margin-top: 150px;
}